<div class="top">POWER & RENEWABLE ENERGY SOLUTIONS</div>
<div class="services">
    <div class="row p-3">
        <div class="col-md-4 box">
            <div class="each-title">
                Supply, Installation & Maintenance
            </div>
            <div class="each-service">
            <ul>
                <li>Smart Grid Inverter Solutions - DC/AC                </li>
                  <li>Solar power</li>
                  <li>Battery banks (NED batteries, Narada batteries)</li>
                  <li>Hybrid powersolutions</li>
                  <li>Rectifiers
                    - AC/DC, DC/DC</li>
                      <li>Diesel generators (AC & DC)</li>
                      <li>Rural Electrification</li>
                      <li>Street Light solution</li>
                      <li>Transformers </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 box">
            <div class="each-title">
                Partner’s Equipment Supply & Installation Services
            </div>
            <div class="each-service">
            <ul>
                <li>Supply & Installation</li>
                  <li>HYBRID & FAN Cooling Solution</li>
                  <li> QUICK SITE Solution</li>
<li> Prefabricated Shelter</li>
<li> Outdoor Enclosure</li>
<li> Sun Shelter</li>
<li> Base station antennas</li>
            </ul>
          </div>
        </div>
        
    </div>
</div>