.image{
    height:180px;
     width:100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    /* filter: grayscale(100%); */
    /* filter: grayscale(100%) sepia(100%) hue-rotate(90deg); */

}

.images{
    height: 30% !important;
}

.vision span{
    color: #ac0d64;
    font-size: 90%;
    font-weight: bold;
}

.vision p{
    font-size: 80%;
}

.vision{
    padding-top: 2%;
}