


<div class="contain">
    


 <img src="assets/images/cable1.jpg" class="image" alt="">

 <div class="texts">
    <div class="vision">
    <span>History</span>
    <p>
         Registered in Nigeria in October 2002 and commenced operation in 2005. <br>
                   Registered in Ghana in June 2008. <br>
    </p>
</div>
  
    <div class="vision">
    <span>Our Mission</span>
    <p>
        Our mission is to create innovative next-generation networks which will enhance global
        communication.
        To accomplish this mission, we strive to be the premier provider of groundbreaking network
        engineering, system integration, technical solutions and services in our business areas.
    </p>
</div>
    <div class="vision">
    <span>Our Vision</span>
    <p>
        MERIT vision is to be the best in delivering cutting edge Telecommunication solutions.
    </p>
</div>
 </div>

</div>