


  <div class="footer foot all ">

    <div class="row offset-1">
      <div class="col-md-3 col-sm-4 col-xs-4">
        <div class="foot-head">
          <span>Head-Office</span>
        </div>
        <div class="foot-text ">
          Merit Telecoms (Nig.) Ltd
No 15 Adepegba Street, Off Obokun Street.
Coker Rd. Ilupeju, Lagos
Nigeria.
+234 700 MERITTELECOM1
+234 816 444 3360
+234 902 942 7744
Reg No : RC 464782
Email: info@merittel.com
        </div>
      </div>
      <div class="col-md-3  col-sm-4 col-xs-4">
        <div class="foot-head">
          <span>Ghana Office </span>
        </div>
        <div class="foot-text">
          Merit Telecoms Ltd
Otanor EstateDown
Off Adjinringanorroad
East-Legon, Accra
Ghana Reg No : CA- 46,733
Email: info@merittel.com
        </div>
      </div>
      <div class="col-md-3  col-sm-4 col-xs-4">
        <div class="foot-head">
          <span>Nigeria RegionalOffices</span>
        </div>
        <div class="foot-text">
          South –South/South East Regional office
12 Ohiamini Street
Off Uyo St., Stadium Road
Port Harcourt. Nigeria
+234 706 705 6410
Email: info@merittel.com
        </div>
      </div>
      <div class="col-md-3  col-sm-4 col-xs-4">
        <div class="foot-head">
          <span>North Regional office</span>
        </div>
        <div class="foot-text">
          Plot 1, Royal Citadel , Jikwoyi,
          Abuja, FCT. Nigeria
          +234 806 743 6103
          Email: info@merittel.com
        </div>
      </div>
    </div>

    @MERIT Telecomms <br>
    <a href="tel:+900300400" style="color: #ffffff; text-decoration: none; font-weight: bold;">
      <i style="color: #ac0d64;" class="fas fa-phone"></i> 900 300 400</a>
  </div>