.foot{
    /* height: 50px !important; */
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    color: #15367e;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 10% !important;
    
  }

  .foot-text{
    padding: 10%;
    font-size: 80%;
    text-align: left;
    
  }

  .foot-head{
    color: #1f1e1e;
    font-weight: bold;
    margin-top: 5%;
  }

