
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" 
style="background-color: transparent !important; z-index: 600; position: absolute; width: 100% !important;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" style="position:relative; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold; margin-left: 12%;
    z-index: 600;" href="#">MeritLogo</a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="float: right; margin:auto">
        <li class="nav-item" style="margin-right: 10px;">
          <a class=" active" href="#"><i class="fas fa-home icons"></i>Home</a>
        </li>
        <li class="nav-item" style="margin-right: 15px;">
          <a class=" active" href="#"><i class="fas fa-laptop-code icons"></i> About Us</a>
        </li>
        <li class="nav-item" style="margin-right: 15px;">
          <a class="active"  href="/#"><i class="fab fa-connectdevelop icons"></i>Services</a>
        </li>
        <li class="nav-item" style="margin-right: 15px;">
          <a class=" active" href="/#"><i class="fas fa-mail-bulk icons"></i>Contact</a>
        </li>
      </ul>
      
    </div>
  </nav>

