<div class="top">WIRELESS NETWORKS</div>
<div class="services">
    <div class="row p-3">
        <div class="col-md-4 box">
            <div class="each-title">
              Radio Network Design & Planning
            </div>
            <div class="each-service">
            <ul>
                <li>RF network design using state of-the-art design
                  tools such as Planet, Asset, TEMS Cell Planner,
                  Radio design, planning and Optimization tools
                  selection</li>
                  <li>Macro & Micro radio network design and planning</li>
                  <li>Link Budget Calculations
                  </li>
                  <li>Site survey, Selection & Nomination</li>
                  <li>Modifying RF Data sheets with correct coordinates
                      and antenna centerline</li>
                      <li>Readjustment of antenna tilt</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 box">
            <div class="each-title">
              RF Drive test, Competitive Benchmarking, Q o S
Evaluation & Network Optimization
            </div>
            <div class="each-service">
            <ul>
                <li>Continuous Wave (CW) drive testing</li>
                  <li>Cluster Optimization & Site Verification drive test</li>
                  <li>KPI/Final Acceptance drive test
                  </li>
                  <li>Competitive benchmarking </li>
                  <li>Data Post-Processing and Analysis
                  </li>
                  <li>Frequency retune & Network Parameter optimization</li>
                  <li>Frequency /Spectrum Scanning (GSM/UMTS/LTE/Wi-Fi)</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 box">
            <div class="each-title">
              Radio Network Design & Planning
            </div>
            <div class="each-service">
            <ul>
                <li>RF network design using state of-the-art design
                  tools such as Planet, Asset, TEMS Cell Planner,
                  Radio design, planning and Optimization tools
                  selection</li>
                  <li>Macro & Micro radio network design and planning</li>
                  <li>Link Budget Calculations
                  </li>
                  <li>Site survey, Selection & Nomination</li>
                  <li>Propagation model calibration</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 box">
            <div class="each-title">
              Civil Works
            </div>
            <div class="each-service">
            <ul>
                <li>Structural designs and analysis</li>
                  <li>Supply and install tower foundation including
                      excavation, rebar, framework, backfilling and
                      composition as per design </li>
                  <li>Tower erection including painting and
                      antenna mounting poles
                  </li>
                  <li>Erection of canopy and plinths</li>
                  <li>Fabrication & installation of antennae poles</li>
                  <li>Installation of cable tray</li>
                  <li>Civil Construction (underground, foundation,
                      work, fence, etc.</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 box">
            <div class="each-title">
              Passive Installation & Maintenance
            </div>
            <div class="each-service">
            <ul>
                <li>Generator installation and maintenance</li>
                  <li>Rectifier installation and maintenance</li>
                  <li>Battery backup installation
                  </li>
                  <li>Shelter reticulation</li>
                  <li>Air condition installation & maintenance</li>
                  <li>Earth tests</li>
                  <li>Tower refurbishment (corrosion control)</li>
                  <li>Tower and Civil Inspection</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 box">
            <div class="each-title">
              BSS EquipmentInstallation
            </div>
            <div class="each-service">
            <ul>
                <li>Installation of relevant BSS equipment, like BSC/RNC &
                  BTS/Node B (Indoor & Outdoor) as per installation
                  documents</li>
                  <li>Installation of rectifiers, battery banks and power supply
                      units</li>
                  <li>Feeders Jumpers connection as per standard
                  </li>
                  <li>Clamping and earthling fixing</li>
                  <li>Equipment shelter installation</li>
                  <li>Grounding System installation</li>
                  <li>Software configuration                    </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 box">
            <div class="each-title">
              Transmission/Access Network Planning
              & Implementation
            </div>
            <div class="each-service">
            <ul>
                <li>Site survey, design and selection</li>
                  <li>Microwave interference analysis and frequency planning</li>
                  <li>Determining Antenna positions and Orientation</li>
                  <li>Determine Line of Site (LOS) using advance Software
                      tools</li>
                  <li>Path Loss Calculations, Path Profile etc.</li>
                  <li>Deploying ATM network, upgraded radios, nodes etc./li>
                  <li>Microwave link design and link budget analysis. </li>
                  <li>Capacity planning and upgrades</li>
                  <li>Microwave radio Installation, commissioning and
                      maintenance</li>
                      <li>Bit Error Rate Testing</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 box">
            <div class="each-title">
              VSAT Transmission
            </div>
            <div class="each-service">
            <ul>
                <li>Site survey</li>
                  <li>Service Provider liaising</li>
                  <li>Civil Work</li>
                  <li>Installation and commissioning</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 box">
            <div class="each-title">
              Transmission Network
Optimization and Sites Audit
            </div>
            <div class="each-service">
            <ul>
                <li>Antenna Alignment to desired Azimuth,</li>
                  <li>Center Line, Tilt angles etc.</li>
                  <li>Transmission Parameter check</li>
                  <li>Transmission accessories check </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 box">
            <div class="each-title">
              Outsourcing and Consultancy
            </div>
            <div class="each-service">
            <ul>
                <li>Experienced RF Design, Planning & Optimisation
                  Engineers (2G, 3G/UMTS, LTE, Wi-Fi)
                  </li>
                  <li>Experienced Transmission engineers</li>
                  <li>Experienced Core network engineers</li>
                  <li>Experienced BSS design & implementation engineers</li>
                  <li>All consultants have indepth knowledge of the local
                      environmental and geographical constraints.</li>
                  <li>We specialize in providing foreign resource with all
                      necessary support</li>
                  <li> MERIT Central office backup for all consultants</li>
                  <li>Flexibility of working in client locations</li>
                  <li>Resource + Training (OTJ)</li>
                  <li>Skills transfer</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 box">
            <div class="each-title">
              Project Management
            </div>
            <div class="each-service">
            <ul>
                <li>Establishing project standards, guidelines and
                  schedules</li>
                  <li>Streamlining process to ensure efficient project
                      completion</li>
                  <li>Resource management</li>
                  <li>Equipment purchase and installation tasks</li>
                  <li>Schedule, milestone, and requirements tracking</li>
                  <li>Cost management</li>
                  <li>Quality management </li>
                  <li>Project reporting and lead</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 box">
            <div class="each-title">
              Network Operations & Maintenance
            </div>
            <div class="each-service">
            <ul>
                <li>MERIT’s field engineers undertake operations and
                  maintenance of all network processes and
                  elements across diverse areas.
                  </li>
                  <li>Our expertise on multi technology products, system
                      & process based maintenance and excellent
                      operations provides the operator with high level of
                      confidence to partner withMERIT for the delivery
                      of critical task of operations & maintenance.</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 box">
            <div class="each-title">
              Network Field Maintenance
            </div>
            <div class="each-service">
            <ul>
                <li>Hardware software upgrades</li>
                  <li>Rental Management</li>
                  <li>Diesel Filling Management</li>
                  <li>Site Accessmanagement                    </li>
                  <li>Electrical Equipment & other Facilities</li>
                  <li>24 x 7 site maintenance</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 box">
            <div class="each-title">
              Technical Support And Process Management
            </div>
            <div class="each-service">
            <ul>
                <li>Technical Help Desk</li>
                  <li>Acceptance Testing</li>
                  <li>Type Approval Testing</li>
                  <li>Process Management activities</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 box">
            <div class="each-title">
              Network Monitoring & Operations
            </div>
            <div class="each-service">
            <ul>
                <li>Fault & Trouble shooting Management</li>
                  <li>Root Cause Analysis Support &Reporting</li>
                  <li>Upgrade/Capacity Management</li>
                  <li>KPI & Configuration Management    </li>
                  <li>Database & Backup management</li>
                  <li>Recovery support</li>
                  <li>Remote Alarm monitoring andresolution</li>
                  <li>Onsite and remote Equipmentmonitoring</li>
                  <li>Field Scheduling & Dispatch Management</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 box">
            <div class="each-title">
              Site Build/Construction
            </div>
            <div class="each-service">
            <ul>
                <li>Pile IntegrityTest</li>
                  <li>Civil work/Tower Erection</li>
                  <li>Electrical Installation</li>
                  <li>Grounding System Installation andTesting   </li>
                  <li>Antenna & Cable Installation andTesting</li>
                  <li>Shelter and Equipment RoomInstallation</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 box">
            <div class="each-title">
              Cell-On-Wheel/Mobile BTS Solution
            </div>
            <div class="each-service">
            <ul>
                <li>Supply, Deployment & maintenance of COWs</li>
                  <li>As interim coverage/capacity solution</li>
                  <li>For special events</li>
            </ul>
          </div>
        </div>
    </div>
</div>