<div class="top">WIRELINE NETWORKS</div>
<div class="services">
    <div class="row p-3">
        <div class="col-md-4 box">
            <div class="each-title">
                We offer a range of Commscope products including:
            </div>
            <div class="each-service">
            <ul>
                <li>Central Office and Headend Solutions</li>
                  <li>Fiber Connectivity for Outside Plant</li>
                  <li>MDU Fiber</li>
                  <li>Coaxial & RF (Last mile access)</li>
                  <li>Outside Plant Copper</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 box">
            <div class="each-title">
                Our services includes: 
            </div>
            <div class="each-service">
            <ul>
                <li>Audit and Asset Verification </li>
                  <li> Cable splicing and Testing</li>
                  <li> Aerial and Underground Construction</li>
                  <li> Material Procurement </li>
                  <li> FTTX/FTTH</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 box">
            <div class="each-title">
                Fibre optic network maintenance services (fault check
                & diagnosis)
            </div>
            <div class="each-service">
            <ul>
                <li>Repair and testing of Fibre Optic cables on railways,
                    highways and in buildings.</li>
                  <li>Planning & Coordination Services</li>
                  <li>Cable blowing by means of Pirelli Sirocco. </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 box">
            <div class="each-title">
                Design Builds
            </div>
            <div class="each-service">
            <ul>
                <li>Inventory procurement and tracking</li>
                  <li> Tracking Labor Expenses </li>
                  <li> Budget Analysis</li>
                  <li> Quality Control</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 box">
            <div class="each-title">
                Our engineers are well trained and have experience
in the following installation methodologies:

            </div>
            <div class="each-service">
            <ul>
                <li> Aerial Lashing</li>
                  <li> Directional Drilling / Boring</li>
                  <li> Direct Buried  </li>
                  <li> Handholes and Vaults</li>
                  <li>Fiber Blowing</li>
                  <li> Fiber Pulling</li>
                  <li> Duct and Inner duct</li>
            </ul>
          </div>
        </div>
       
        
</div>
</div>
