<div class="contain">
    <!-- <div class="images"> -->
        <img src="assets/images/cable1.jpg" class="image" alt="">
    
    <div class="texts row">
        <div class="vision col-md-4">
        <span> <b> M =</b> MERITORIOUS</span>
        <ul>
           <li> We give that rewarding experience you deserve</li>
            <li> We make our clients heroes in their workplace</li>
            <li> Welfare is our concern</li>
            <li> We are Empathic</li>
        </ul>
    </div>
      
        <div class="vision col-md-4">
        <span> <b> E =</b> EXCELLENCE</span>
        <ul>
           <li>We have the passion and integrity that transforms us into the best in the
            industry</li>
            <li> We have that Impeccable office ambience that enhances creativity and
            innovation</li>
            <li> We are goal oriented</li>
            <li> We pay attention to detail</li>
            <li> We are proactive to deliver the best solutions</li>
            <li> We are responsible and disciplined to a quality task completion</li>
        </ul>
    </div>
      
        <div class="vision col-md-4">
        <span> <b> R =</b> RESPECT</span>
        <ul>
           <li>We treat each other with respect because it makes working together far</li>
            <li> more comfortable and enjoyable</li>
            <li> We honor commitments because respect must continually be earned</li>
            <li> We appreciate the uniqueness of each of our clients</li>
        </ul>
    </div>
      
        <div class="vision col-md-4">
        <span> <b> I =</b> INNOVATION</span>
        <ul>
           <li>We process ideas into technology that enhances quality service</li>
            <li> We are sensitive to change</li>
            <li> We possess current and effective tools of trade</li>
            <li> We communicate effectively with latest technology</li>
        </ul>
    </div>
      
        <div class="vision col-md-4">
        <span> <b> T =</b> TIMELY DELIVERY</span>
        <ul>
           <li>We give uncompromised quality service delivery on time</li>
            <li> We have effective teams that deliver desired results</li>
            <li> We give good customer satisfaction with timely delivery</li>
        </ul>
    </div>
      
    </div>
</div>