<div class="top">ENTERPRISE NETWORKS</div>
<div class="services">
    <div class="row p-3">
        <div class="col-md-6 box">
            <div class="each-title">
                Enterprise Buildings
            </div>
            <div class="each-service">
            <ul>
                <li>Seamless in-building wireless coverage</li>
                  <li>Best-in-class structured cabling solutions</li>
                  <li>Automated infrastructure management</li>
                  <li>Valuable Power over Ethernet solutions</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 box">
            <div class="each-title">
                Large Venues 
            </div>
            <div class="each-service">
            <ul>
                <li>Transportation connectivity</li>
                  <li>Railway/Bus stations</li>
                  <li>Tunnels</li>
                  <li>Onboard Repeaters (Trains/Cars/Ships) </li>
                  <li>Sports & Entertainment venues</li>
                  <li>Campus Networks</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 box">
            <div class="each-title">
                Repeater Systems Solution
            </div>
            <div class="each-service">
            <ul>
                <li>MERIT provides a full line of COMMSCOPE pico
                    and micro type off-air RF enhancers and macro
                    type off-air digital nodes, called repeaters.</li>
                  <li>In-Car Signal Booster</li>
                  <li>Indoor repeater/signal booster solutions (Malls, Offices) </li>
                  <li>Outdoor repeater solution (motorways, villages,
                    special events)</li>
                  <li>Full Survey, Design, Installation ,Integration &
                    maintenance</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 box">
            <div class="each-title">
                iDAS Solution
            </div>
            <div class="each-service">
            <ul>
                <li>MERIT understands the growing requirement by operators
                    for in-building solutions and our experience and expertise
                    enables us to provide the right coverage & capacity solution
                    for any indoor environment</li>
                  <li>We deliver dedicated coverage and capacity solutions
                    covering GSM/UMTS, Wi-Fi, and LTE </li>
                  <li>We have designed and implemented several in-building
                    coverage solutions from small single operator shop
                    installations to large multiple technology/operators antenna
                    sites in Europe and Africa                    
                  </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 box">
            <div class="each-title">
                "West Africa first" indoor total coverage
                systems in:
            </div>
            <div class="each-service">
            <ul>
                <li>High-rise buildings</li>
                  <li>Multi-building campuses</li>
                  <li>Sports arenas
                  </li>
                  <li>Airports</li>
                  <li>Hotels and Resorts</li>
                  <li>Retail stores</li>
                  <li>Shopping Malls</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 box">
            <div class="each-title">
                oDAS Coverage solution
            </div>
            <div class="each-service">
            <ul>
                <li>- For special areas capacity solution</li>
                  <li>For coverage and capacity in areas where it is not possible to build towers</li>
            </ul>
          </div>
        </div>
        
</div>
</div>
