

<app-header></app-header>
<router-outlet></router-outlet>
<!-- <app-footer></app-footer> -->
<div class="footer" style="background-color: #636269; color: #e9c0f3;">
    <div style="padding-left: 15% !important; padding:1%; font-size: 80%;"> 

           <span style="margin-right: 10%;"> &copy; Merit Telecomms 2020</span>
           <ul>
           <li class="link"> Home</li> |
           <li class="link"> About Us</li> |
           <li class="link"> Services</li> |
           <li class="link"> Contact Us</li> | 
           <li class="link"> FAQ</li> 
            </ul>
    </div>
    
</div>