<div id="myCarousel" style="height: min-content !important;" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active" style="height: 100%;">
      <img src="/assets/images/outdoor.jpg" width="100%" height="200px" alt="Chicago">
      <div class="carousel-caption">
        <h3>Out Door </h3>
        <p>LA is always so much fun!</p>
      </div>
    </div>

    <div class="item">
      <img src="/assets/images/outdoor1.jpg" width="100%" height="200px" alt="Chicago">
      <div class="carousel-caption">
        <h3>Chicago</h3>
        <p>Thank you, Chicago!</p>
      </div>
    </div>

    <div class="item">
      <img src="/assets/images/outdoor2.jpg" width="100%" height="200px" alt="Chicago">
      <div class="carousel-caption">
        <h3>New York</h3>
        <p>We love the Big Apple!</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- <div id="banner" class="banner">

    <h3 style=" margin-left: 8%; color: #ffffff; font-weight: bold;">MERIT <span style="color: #ac0d64;">TELECOMS</span></h3>
    <p class="graph">
        is licensed by the Nigeria Communications Commission as an independent and recognized leader in providing
Wireless, Wireline and Enterprise turnkey solutions & services, and Infrastructure management to the Telecommunications industry.
        

     <span class="button btn lowbtn" style="background-color: #ac0d64; color: #ffffff; float: right; margin-right:7%; margin-top:2%">
      Read More
    </span>
    </p>
    
  </div> -->

<div class="after" id="whatWeDo">

  <div class="after-inner">
    <div class="services-text">
      <span class="title">
        <strong>WHAT WE DO </strong>
      </span>
      <p class="service">
        We offer customized solutions and services for most of Africa’s majorwireless carriers and Infrastructure
        Providers to maintain their network. As one of the top growing independent Telecoms Service
        provider in Africa, we take pride in leverage of our industry expertise to provide technical solutions
        and network engineering services
      </p>
    </div>

    <div class="row offset-2 mt-5">
      <div class="col-md-2 col-sm-5 col-xs-5 boxes fade-in">
        <div class="card" style="background-color: #ffffff !important; color: #000000; border: none !important;">
          <div class="card-title">
            WIRELESS NETWORK SERVICES
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" style="color: #ac0d64; "> Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-5 col-xs-5 boxes fade-in ml-1">
        <div class="card" style="background-color: #ffffff !important; color: #000000;  border: none !important;">
          <div class="card-title">
            ENTERPRISE NETWORK SOLUTIONS
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" style="color: #ac0d64;"> Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-5 col-xs-5 boxes fade-in ml-1">

        <div class="card" style="background-color: #ffffff !important; color: #000000;  border: none !important;">
          <div class="card-title">
            WIRELINE NETWORK SOLUTIONS
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" style="color: #ac0d64;"> Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-5 col-xs-5 boxes fade-in ml-1">

        <div class="card" style="background-color: #ffffff !important; color: #000000;  border: none !important;">
          <div class="card-title">
            POWER & RENEWABLE ENERGY EFFICIENCY SOLUTIONS
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" style="color: #ac0d64;"> Read More</a>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>



<div class="next" id="services">
  <div class="next-inner">
    <div class="services-text">
      <span class="title">
        Our SERVICES
      </span>
      <p class="service">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam sed a
        saepe odio porro illo consequatur aspernatur ducimus corporis libero, consectetur nesciunt qui facere
        praesentium iste quidem voluptates placeat inventore?
      </p>
    </div>

    <div class="row offset-2 mt-5">
      <div class="col-md-3 box">
        <div class="card" style="background-color: #000000 !important; color: #ffffff;">
          <div class="card-title">
            WEB
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn" style="background-color: #ac0d64; color:#ffffff;"> Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 box ml-1">
        <div class="card" style="background-color: #000000 !important; color: #ffffff;">
          <div class="card-title">
            Mobile
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn" style="background-color: #ac0d64; color:#ffffff;"> Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 box ml-1">

        <div class="card" style="background-color: #000000 !important; color: #ffffff;">
          <div class="card-title">
            Problem Solving
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn" style="background-color: #ac0d64; color:#ffffff;"> Read More</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



<div class="after" id="whatWeDo">

  <div class="after-inner">
    <div class="services-text">
      <span class="title">
        <strong>OUR WIRELESS NETWORK SERVICES</strong>
      </span>
      <!-- <p class="service">
        We offer customized solutions and services for most of Africa’s majorwireless carriers and Infrastructure
        Providers to maintain their network. As one of the top growing independent Telecoms Service
        provider in Africa, we take pride in leverage of our industry expertise to provide technical solutions
        and network engineering services
      </p> -->
    </div>

    <div class="row pt-5 mt-5">

      <div class="col-md-4 mt-3">
        <div class="roundDiv">
          <span style="background-color: #300dac;" class="roundC">
            <i class="fas fa-broadcast-tower"></i>
          </span> <br>

        </div>
        <div>

          <div class="subHead">
            <strong>Radio Network Design &
              Planning</strong></div>
          <ul style="color: #443f43;">
            <li> RF network design using state of-the-art design
              tools such as Planet, Asset, TEMS Cell Planner,
              Radio design, planning and Optimization tools
              selection</li>
            <li> Macro & Micro radio network design and planning</li>
            <li>Link Budget Calculations</li>
            <li>Site survey, Selection & Nomination</li>
            <li>Propagation model calibration</li>
          </ul>
        </div>

      </div>
      <div class="col-md-4 mt-3">
        <div class="roundDiv">
          <span style="background-color: #ac0d64; " class="roundC"><i class="fas fa-microscope"></i></span> <br>

        </div>
        <div>

          <div class="subHead"><strong>RF Physical Optimization & SiteAudits</strong></div>
          <ul style="color: #443f43;">
            <li> Checking all antennas at sites</li>
            <li> Checking all cables and connections for
              weathering and tightness</li>
            <li>Checking & Adjusting azimuth, center line, down tilt
              (electrical and mechanical) and coordinates.</li>
            <li>Verification of RF implementation vis-a-viz RF
              design</li>
            <li>Modifying RF Data sheets with correct coordinates
              and antenna centerline</li>
              <li>Readjustment of antenna tilt</li>
          </ul>
        </div>

      </div>
      <div class="col-md-4 mt-3">
        <div class="roundDiv">
          <span style="background-color: #20ac0d; " class="roundC"><i class="fas fa-charging-station"></i></span> <br>

        </div>
        <div>

          <div class="subHead"><strong>RF Drive test, Competitive Benchmarking, QoS
            Evaluation & Network Optimization
            </strong></div>
          <ul style="color: #443f43;">
            <li> Continuous Wave (CW) drive testing</li>
            <li> Cluster Optimization & Site Verification drive test  </li>
            <li>KPI/Final Acceptance drive test</li>
            <li>Competitive benchmarking </li>
            <li>Data Post-Processing and Analysis</li>
            <li>Frequency retune & Network Parameter optimization</li>
            <li>Frequency /Spectrum Scanning (GSM/UMTS/LTE/Wi-Fi)</li>
          </ul>
        </div>

      </div>



      <!-- <div class="row offset-2 mt-5">
      <div class="col-md-2 col-sm-5 col-xs-5 boxes fade-in">
        <div class="card"  style="background-color: #ffffff !important; color: #000000; border: none !important;">
          <div class="card-title">
              WIRELESS NETWORK SERVICES
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#"  style="color: #ac0d64; "> Read More</a>
          </div>     
         </div>
      </div>
      <div class="col-md-2 col-sm-5 col-xs-5 boxes fade-in ml-1">
        <div class="card"  style="background-color: #ffffff !important; color: #000000;  border: none !important;">
          <div class="card-title">
            ENTERPRISE NETWORK SOLUTIONS
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" style="color: #ac0d64;"> Read More</a>
          </div>     
         </div>
      </div>
      <div class="col-md-2 col-sm-5 col-xs-5 boxes fade-in ml-1">

        <div class="card"  style="background-color: #ffffff !important; color: #000000;  border: none !important;">
          <div class="card-title">
            WIRELINE NETWORK SOLUTIONS
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" style="color: #ac0d64;"> Read More</a>
          </div>     
         </div>
      </div>
      <div class="col-md-2 col-sm-5 col-xs-5 boxes fade-in ml-1">

        <div class="card"  style="background-color: #ffffff !important; color: #000000;  border: none !important;">
          <div class="card-title">
            POWER & RENEWABLE ENERGY EFFICIENCY SOLUTIONS
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" style="color: #ac0d64;"> Read More</a>
          </div>     
         </div>
      </div>
    </div> -->

    </div>

  </div>




  <div class="next" id="services">
    <div class="next-inner">
      <div class="services-text">
        <span class="title">
          Our SERVICES
        </span>
        <p class="service">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam sed a
          saepe odio porro illo consequatur aspernatur ducimus corporis libero, consectetur nesciunt qui facere
          praesentium iste quidem voluptates placeat inventore?
        </p>
      </div>

      <div class="row offset-2 mt-5">
        <div class="col-md-3 box">
          <div class="card" style="background-color: #000000 !important; color: #ffffff;">
            <div class="card-title">
              WEB
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn" style="background-color: #ac0d64; color:#ffffff;"> Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 box ml-1">
          <div class="card" style="background-color: #000000 !important; color: #ffffff;">
            <div class="card-title">
              Mobile
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn" style="background-color: #ac0d64; color:#ffffff;"> Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 box ml-1">

          <div class="card" style="background-color: #000000 !important; color: #ffffff;">
            <div class="card-title">
              Problem Solving
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn" style="background-color: #ac0d64; color:#ffffff;"> Read More</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="last" id="contact">
    <div class="last-inner">
      <div>
        <span class="title">
          Send A Message
        </span>
      </div>
      <form>
        <div class="form-row">

          <div class="form-group  col-md-6">
            <textarea type="text" class="form-control" id="inputMessage" rows="6" placeholder="Your message"></textarea>
          </div>
          <div class=" col-md-6">
            <div class="form-group">
              <input style="border: none !important; 
            border-width: 0 !important; 
            box-shadow: none !important;" type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="inputName4" placeholder="Name">
            </div>
            <button type="submit" style="background-color: #ac0d64; color: #ffffff;" class="btn sub">Submit</button>
          </div>
        </div>


      </form>

    </div>
  </div>

  <div class="footer foot">
    @MERIT Telecomms <br>
    <a href="tel:+900300400" style="color: #ffffff; text-decoration: none; font-weight: bold;">
      <i style="color: #ac0d64;" class="fas fa-phone"></i> 900 300 400</a>
  </div>