
  <div class="banner">

    <h3 style=" margin-left: 8%; color: #ffffff; font-weight: bold;">MERIT <span style="color: #ac0d64;">TELECOMS</span></h3>
    <p class="graph">
        is licensed by the Nigeria Communications Commission as an independent and recognized leader in providing
Wireless, Wireline and Enterprise turnkey solutions & services, and Infrastructure management to the Telecommunications industry.
        

     <span class="button btn lowbtn" style="background-color: #ac0d64; color: #ffffff; float: right; margin-right:7%; margin-top:2%">
      Know More
    </span>
    </p>
    
  </div>

  <div class="after" id="tools">

    <div class="after-inner">
      <div class="services-text">
        <span class="title">
          <strong>SOLUTIONS AND SERVICES </strong>
        </span>
        <p class="service">
          We offer customized solutions and services for most of Africa’s majorwireless carriers and Infrastructure
          Providers to maintain their network. As one of the top growing independent Telecoms Service
          provider in Africa, we take pride in leverage of our industry expertise to provide technical solutions
          and network engineering services
        </p>
      </div>
  
      <div class="row offset-2 mt-5">
        <div class="col-md-2 col-sm-5 col-xs-5 boxes fade-in">
          <div class="card"  style="background-color: #ffffff !important; color: #000000; border: none !important;">
            <div class="card-title">
                WIRELESS NETWORK SERVICES
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn" style="background-color: #ac0d64;  color: #ffffff;"> Know More</a>
            </div>     
           </div>
        </div>
        <div class="col-md-2 col-sm-5 col-xs-5 boxes fade-in ml-1">
          <div class="card"  style="background-color: #ffffff !important; color: #000000;  border: none !important;">
            <div class="card-title">
              ENTERPRISE NETWORK SOLUTIONS
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn" style="background-color: #ac0d64;  color: #ffffff;"> Know More</a>
            </div>     
           </div>
        </div>
        <div class="col-md-2 col-sm-5 col-xs-5 boxes fade-in ml-1">
  
          <div class="card"  style="background-color: #ffffff !important; color: #000000;  border: none !important;">
            <div class="card-title">
              WIRELINE NETWORK SOLUTIONS
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn" style="background-color: #ac0d64;  color: #ffffff;"> Know More</a>
            </div>     
           </div>
        </div>
        <div class="col-md-2 col-sm-5 col-xs-5 boxes fade-in ml-1">
  
          <div class="card"  style="background-color: #ffffff !important; color: #000000;  border: none !important;">
            <div class="card-title">
              POWER & RENEWABLE ENERGY EFFICIENCY SOLUTIONS
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn" style="background-color: #ac0d64; color: #ffffff;"> Know More</a>
            </div>     
           </div>
        </div>
      </div>
  
    </div>
  
  </div>
  

  
  <div class="next" id="services">
    <div class="next-inner">
    <div class="services-text">
      <span class="title">
        MY SERVICES
      </span>
      <p class="service">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam sed a
         saepe odio porro illo consequatur aspernatur ducimus corporis libero, consectetur nesciunt qui facere praesentium iste quidem voluptates placeat inventore?
      </p>
    </div>

    <div class="row offset-2 mt-5">
      <div class="col-md-3 box">
        <div class="card"  style="background-color: #000000 !important; color: #ffffff;">
          <div class="card-title">
            WEB
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn" style="background-color: #be9011;"> Know More</a>
          </div>     
         </div>
      </div>
      <div class="col-md-3 box ml-1">
        <div class="card"  style="background-color: #000000 !important; color: #ffffff;">
          <div class="card-title">
            Mobile
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn" style="background-color: #be9011;"> Know More</a>
          </div>     
         </div>
      </div>
      <div class="col-md-3 box ml-1">
 
        <div class="card"  style="background-color: #000000 !important; color: #ffffff;">
          <div class="card-title">
            Problem Solving
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn" style="background-color: #be9011;"> Know More</a>
          </div>     
         </div>
      </div>
    </div>

  </div>
</div>


  <div class="last" id="contact">
    <div class="last-inner">
      <div>
        <span class="title">
          Send A Message
        </span>
      </div>
      <form>
        <div class="form-row">
          
          <div class="form-group  col-md-6">
            <textarea type="text" class="form-control" id="inputMessage" rows="6" placeholder="Your message"></textarea>
          </div> 
          <div class=" col-md-6">
          <div class="form-group">
            <input style="border: none !important; 
            border-width: 0 !important; 
            box-shadow: none !important;" type="email" class="form-control" id="inputEmail4" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="inputName4" placeholder="Name">
          </div>
          <button type="submit" style="background-color: #ac0d64; color: #ffffff;" class="btn sub">Submit</button>
        </div> 
        </div>
          
        
      </form>
    
  </div>
  </div>
  
  <div class="footer foot">
   @MERIT Telecoms
  </div>
  

  