<div class="contain">
    <!-- <div class="images"> -->
        <img src="assets/images/cable1.jpg" class="image" alt="">
    
    <div class="texts">
        <div class="vision">
        <span>VISION</span>
        <p>
            MERIT vision is to be the best in delivering cutting edge Telecommunication solutions
        </p>
    </div>
        <div class="vision">
        <span>MISSION</span>
        <p>
            MERIT mission is to create innovative next-generation networks which will enhance global
communication.
To accomplish this mission, we strive to be the premier provider of groundbreaking network
engineering, system integration, technical solutions and services in our business areas.

        </p>
    </div>
    </div>
</div>