<div class="contain">
    <img src="assets/images/cable1.jpg" class="image" alt="">


<div class="minim">
    <div class="title">
        OUR CORE VALUES
    </div>
    <p> To accomplish our mission, we depend on a set of core company values central to our approach in business:</p>
</div>

<div class="values">
    <div class="values-title"> Our Values</div>
    <div class="row value">
        <div class="col-md-4">
            <span class="subTitle">Exceed customers’ expectations</span>
            <div class="texts">
              Honoring the customer as our most important asset is our priority.

            </div>
        </div>
        <div class="col-md-4">
            <span class="subTitle">Creatively solve problems</span>
            <div class="texts">
              Merit empowers its people to think creatively, enabling a diverse workforce that generates
                  innovative decision-making for a broad spectrum of customers and partners.

            </div>
        </div>
        <div class="col-md-4">
            <span class="subTitle">Knowledge and experience</span>
            <div class="texts">
              By relying on our vast experience and seasoned industry technicians, MERIT can solve a range of network
challenges to meet the needs of our customers.

            </div>
        </div>
    </div>
    <div class="row value">
        <div class="col-md-4">
            <span class="subTitle">Maximizing opportunities</span>
            <div class="texts">
              Share knowledge, expertise and relationships to open new doors of opportunity and to facilitate
              interaction among the customers.
            </div>
        </div>
        <div class="col-md-4">
            <span class="subTitle">Be accountable</span>
            <div class="texts">
              Take responsibility, make things happen, admit to mistakes, and commit to learning and growth.


            </div>
        </div>
        <div class="col-md-4">
            <span class="subTitle">Committment to customers</span>
            <div class="texts">
              At MERIT, we're committed to our mission of helping our customers development to new heights, deliver
              valuable new services, and achieve goals they never thought possible.
              
            </div>
        </div>
    </div>
</div>
</div>