
<div class="all">
    <hr>
    <hr>
    <div class="contains">
        
    
        <div class="about-title">
            <hr>
    <hr>
    <div class="padded">
            <span> About Merit Telecomms</span>
            <p class="graph">
                Our mission is to create innovative next-generation networks which will enhance global
        communication.
        To accomplish this mission, we strive to be the premier provider of groundbreaking network
        engineering, system integration, technical solutions and services in our business areas.
        
            </p>
        </div>
            <!-- <hr class="sec"> -->
        </div>
       
        <div class="about-body">
            <div class="row ">
                <div class="col-md-3">
                    <ul class=" no-scroll">
                        <div (click)="overview()" class="li-top">Overview</div>
                        <li (click)="mission()">Vision & Mission</li>
                        <li (click)="values()">Core Values</li>
                        <li (click)="culture()">Our Culture</li>
                     </ul>
                    
                </div>
                <div class="col-md-9">
                   <router-outlet></router-outlet>
                </div>
            </div>
        </div>

    
     
    </div>
    </div>

 

 