<div class="all">
<hr>
<hr>
<div class="contains">
    

    <div class="about-title">
        <span> About Merit Telecomms</span>
    </div>
    <hr class="sec">
    <div class="about-body">
        <div class="row">
            <div class="col-md-3">
                <ul>
                    <div (click)="overview()" class="li-top">Overview</div>
                    <li (click)="mission()">Vision & Mission</li>
                    <li (click)="values()">Core Values</li>
                    <li (click)="culture()">Our Culture</li>
                </ul>
            </div>
            <div class="col-md-9">
               <router-outlet></router-outlet>
            </div>
        </div>
    </div>

<!-- <div id="banner" class="banner" >

    <div class="bannerInner">

    <h3 style=" margin-left: 8%; color: #ffffff; font-weight: bold;"> ABOUT MERIT <span style="color: #ac0d64;">TELECOMS</span></h3>
    <p class="graph">
        Our mission is to create innovative next-generation networks which will enhance global
        communication.
        To accomplish this mission, we strive to be the premier provider of groundbreaking network
        engineering, system integration, technical solutions and services in our business areas.
        
    </p>
</div>
  </div> -->

 

 
</div>
</div>