<div class="all">
    <hr>
    <hr>
    <div class="contains">
        
    
        <div class="about-title">
            <hr>
    <hr>
    <div class="padded">
            <span> OUR SERVICES</span>
            <p class="graph">
                We offer customized solutions and services for most of Africa’s majorwireless carriers and Infrastructure
                Providers to maintain their network. As one of the top growing independent Telecoms Service
                provider in Africa, we take pride in leverage of our industry expertise to provide technical solutions
                and network engineering services
            </p>
        </div>
            <!-- <hr class="sec"> -->
        </div>
       
        <div class="about-body">
            <div class="row ">
                <div class="col-md-3">
                    <ul class=" no-scroll">
                        <!-- <div (click)="overview()" class="li-top">Overview</div> -->
                     <li (click)="wireless()"> Wireless Network Services (WNS)</li>
                     <li (click)="enterprise()"> Enterprise Network Solutions (ENS)</li>
                     <li (click)="wireline()"> Wireline Network Solutions (WLNS)</li>
                     <li (click)="power()">Power & Renewable Energy Solutions (PRES)</li>
                     </ul>
                    
                </div>
                <div class="col-md-9">
                   <router-outlet></router-outlet>
                </div>
            </div>
        </div>

    
     
    </div>
    </div>




