<div style="overflow-x: hidden; width: 100% !important;">
<div id="banner" class="banner" >

    <div class="bannerInner">

    <h3 style=" margin-left: 8%; color: #ffffff; font-weight: bold;"> OUR <span style="color: #ac0d64;">SERVICES</span></h3>
    <p class="graph">
        We offer customized solutions and services for most of Africa’s majorwireless carriers and Infrastructure
        Providers to maintain their network. As one of the top growing independent Telecoms Service
        provider in Africa, we take pride in leverage of our industry expertise to provide technical solutions
        and network engineering services
    </p>
</div>
  </div>

  <div class="after row">
      <div class="col-md-6 p-5 pl-lg-5" style=" text-align: center;">
       <img src="/assets/images/cable1.jpg" alt="Wires">
      </div>
      <div class="col-md-6" style="padding: 5%;">
        <div class="service-title">
        <span style="color: #ac0d64; font-weight: bold; font-size: 150%; padding-left: 10%;"> We have Four (intertwined) divisions </span>
    </div>
          <ul class="unordered">
       <li (click)="wireless()"> Wireless Network Services (WNS)</li>
<li (click)="enterprise()"> Enterprise Network Solutions (ENS)</li>
<li (click)="wireline()"> Wireline Network Solutions (WLNS)</li>
<li (click)="power()">Power & Renewable Energy Solutions (PRES)</li>
</ul>
      </div>

  </div>

  <router-outlet></router-outlet>
 
</div>